<%= link_to "Back", "/admin/movies" %>
<%= flash[:alert] %>
<%= form_tag( controller:"admin/movies" , action:"create") do |f| %>
    <div class="form_content">
        <p>タイトル</p><input type="text" name="name">
    </div>
    <div class="form_content">
        <p>公開年</p><input type="text" name="year">
    </div>
    <div class="form_content">
        <p>概要</p><textarea  name="description" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form_content">
        <p>画像URL</p><input type="text" name="image_url">
    </div>
    <div class="form_content">
        <p>上映中か</p>
        <select name="is_showing" id="">
            <option value="1">上映中</option>
            <option value="0">上映予定</option>
        </select>
    </div>
    <input type="submit" value="Save">
<% end %>