/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding: 12px;
}
header {
    width: 100%;
    height: 196px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 36px;
    border-bottom: 2px solid #000;
    z-index: 3;
}
.content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 195px;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
}
.movie-content {
    width: 260px;
    height: 392px;
    margin: 12px;
    border: 1px solid #000;
    position: relative;
}

.movie-showing {
    width: 100%;
    padding-left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.movie-showing-true {
    background-color: rgb(102, 196, 102);
}
.movie-showing-false {
    background-color: rgb(216, 172, 115);
}
.search input[type="radio"] {
    width         : 23pt;
    height        : 23pt;
    vertical-align: top;
    display       : none;
  }
  .search input[type="radio"] + label {
    padding       : 0 4px;
    border        : 2px solid rgba(127, 127, 0, 0.49);
    border-radius : 5px;
    background    : #ffffff;
    cursor        : pointer;
    transition    : .2s;
  }
  .search input[type="radio"]:checked + label {
    background    : rgba(127, 127, 0, 0.49);
  }
  .search input[type="radio"]:not(:checked) + label:hover {
    background    : rgba(127, 127, 0, 0.40);
  }
  .movies-reserve {
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
  }
  .search input[type="submit"] {
      margin-left: 24px;
      
  }